@font-face {
  font-display: swap; 
  font-family: 'Fraunces';
  font-style: bold;
  font-weight: 700;
  src: url('./fonts/Fraunces9pt-Bold.woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Pretendard';
  font-style: regular;
  font-weight: 400;
  src: url('./fonts/Pretendard-Regular.woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Pretendard';
  font-style: bold;
  font-weight: 700;
  src: url('./fonts/Pretendard-Bold.woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Pretendard';
  font-style: light;
  font-weight: 300;
  src: url('./fonts/Pretendard-Light.woff2'); 
}

@import "tailwindcss";

@theme {
  --font-fraunces: 'Fraunces', 'Serif';
  --font-pretendard: 'Pretendard', 'Sans Serif';
  --color-bright-green: #00ac1c;
  --color-dark-green: #009318;
  --color-bright-orange: #FF9933;
  --color-bright-blue: #40BCF4;
  --color-light-grey: #9ab;
  --color-dark-grey: #456;
  --color-poster-frame: #ddeeff40;
  --color-tooltip-text: #ddeeff;
  --color-background: #14181c;
}

@layer base {

  html,
  body {
    background-color: #14181c;
    color: #9ab;
    font-family: var(--font-pretendard);
    font-size: 1.1rem;
  }
}